DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=redslim-exercise
POSTGRES_USER=redslim
POSTGRES_PASSWORD=redslim
DATABASE_HOST=localhost
DATABASE_PORT=5432
